<div class="flex justify-between">
    <span class="flex gap-1 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
          </svg>          
        <span class="text-2xl">Category List</span>
    </span>
    <span>
        <button (click)="openCategoryDialog()" type="button" class="button">Create New Category</button>
    </span>
</div>

@if (loading()) {
    <app-loading-page></app-loading-page>
} @else {
    <div class="flex flex-col">
        <div class="-m-1.5 p-1.5 px-3 min-w-full inline-block align-middle overflow-x-auto">
            <div class="scroll-table-container">
                <table class="table">
                    <thead>
                        <tr class="sticky-table-header">
                            <th class="table-header">No</th>
                            <th class="table-header">Name</th>
                            <th class="table-header">Description</th>
                            <th class="table-header">Voucher</th>
                            <th class="table-header">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of list(); let idx = $index; track idx) {
                            <tr>
                                <td class="table-data">{{ idx + 1 }}</td>
                                <td class="table-data">{{ item.name }}</td>
                                <td class="table-data">{{ item.description }}</td>
                                <td class="table-data">{{ item.vouchers }}</td>
                                <td class="table-data">
                                    <button class="action-button" type="button">Edit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}