<div class="p-1.5">
    <span mat-dialog-title >
        Voucher Create Form</span>
    <mat-dialog-content>
        <form [formGroup]="form!">

            <div class="mb-2">
                <mat-form-field style="width: 100%;">
                    <mat-label>Customer Name</mat-label>
                    <input formControlName="customerName" matInput>
                </mat-form-field>
            </div>
    
            <div class="flex gap-2 mb-2">
                <div>
                    <mat-form-field>
                        <mat-label>Fees</mat-label>
                        <input formControlName="fees" matInput>
                    </mat-form-field>
                </div>
    
                <div>
                    <mat-form-field>
                        <mat-label>Spareparts Expense</mat-label>
                        <input formControlName="expenses" matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="flex gap-2">
                <div>
                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <input #categoryInput (input)="refreshCategorySelectOptionList(categoryInput.value)"  type="text" formControlName="categoryId" matInput [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            @for (item of filteredCategorySelectOptionList(); track $index) {
                                <mat-option [value]="item.id">{{ item.name }}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Net Profit</mat-label>
                        <input disabled [value]="calculateNetProfit()" matInput>
                    </mat-form-field>
                </div>
            </div>
        
            <div class="flex gap-2 align-top mb-4">
                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input (dateChange)="changeFormDateFormat($event)" formControlName="date" matInput [matDatepicker]="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Remark</mat-label>
                    <textarea formControlName="remark" matInput></textarea>
                </mat-form-field>
            </div>

            <div [class]="progressBarClass()">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>

            <mat-dialog-actions>
                <div class="flex gap-2">
                    <div>
                        <button (click)="create()" class="button-green flex gap-x-0.5 items-center" type="button">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path d="M8 1a.75.75 0 0 1 .75.75V5h-1.5V1.75A.75.75 0 0 1 8 1ZM7.25 5v4.44L6.03 8.22a.75.75 0 0 0-1.06 1.06l2.5 2.5a.75.75 0 0 0 1.06 0l2.5-2.5a.75.75 0 1 0-1.06-1.06L8.75 9.44V5H11a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h2.25Z" />
                                  </svg>                              
                            </span>
                            <span>
                                Create
                            </span>    
                        </button>
                    </div>
                    <div>
                        <button (click)="closeDialog()" class="button-red flex items-center gap-x-0.5" type="button">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm2.78-4.22a.75.75 0 0 1-1.06 0L8 9.06l-1.72 1.72a.75.75 0 1 1-1.06-1.06L6.94 8 5.22 6.28a.75.75 0 0 1 1.06-1.06L8 6.94l1.72-1.72a.75.75 0 1 1 1.06 1.06L9.06 8l1.72 1.72a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                                  </svg>                              
                            </span>
                            <span>
                                Cancel
                            </span>    
                        </button>
                    </div>
                </div>
            </mat-dialog-actions>
        </form>
    </mat-dialog-content>
</div>
